body {
    margin: 0;
    height: 100%;

    background-image: url("../images/pokemon-background.png");
    background-size: cover;
    background-position: center;
}

.grid-container {
    display: grid;
    background: transparent;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "main";
    height: 100vh;
}

/* ----- HEADER ----- */

.header {
    grid-area: header;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* ----- MAIN ----- */

.main-container {
    grid-area: main;
    padding: 10px;

    display: flex;
    align-items: flex-start;
    justify-content: center;
}

/* -- Pokedex Image -- */

.pokedex-wrapper {
    position: relative;
    display: inline-block;
}

.pokedex-wrapper img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* -- Decorations -- */

.red-circle,
.black-lines,
.red-line,
.blue-line,
.reset-button,
.left-button,
.right-button,
.green-screen,
.prompt-text {
    position: absolute;
}

.red-circle {
    top: 55%;
    left: 21%;

    background-color: #d30a40;
    height: 30px;
    width: 30px;

    border-radius: 50%;
    box-shadow: 0 0 0 2px #222021;
}

.black-lines {
    top: 55%;
    right: 27%;

    width: 80px;
    height: 40px;
    background: repeating-linear-gradient(
        to bottom,
        #222021 0px,
        #222021 3px,
        transparent 2px,
        transparent 10px
    );
}

.red-line {
    top: 66%;
    left: 27%;

    background-color: #d3242b;
    height: 10px;
    width: 60px;

    border-radius: 999px;
    box-shadow: 0 0 0 2px #222021;
}

.blue-line {
    top: 66%;
    left: 44%;

    background-color: #04a79e;
    height: 10px;
    width: 60px;

    border-radius: 999px;
    box-shadow: 0 0 0 2px #222021;
}

.green-screen {
    bottom: 7%;
    left: 15%;

    background-color: #3ab549;
    font-family: 'Press Start 2P';
    font-size: 15px;
    height: 100px;
    width: 200px;
    padding: 30px 12px 10px;

    border: none;
    border-radius: 10px;
    box-shadow: 0 0 0 2px #222021;
    box-sizing: border-box;

    caret-color: #222021;
}

.green-screen:focus {
    outline: none;
}

.green-screen::placeholder {
    color: #222021; /* pick any colour you want */
    opacity: 1; /* ensures it doesn't look faded in some browsers */
}

.prompt-text {
    bottom: 18%;
    left: 18%;

    font-family: 'Press Start 2P';
    font-size: 12px;

    z-index: 1;
}

/* Buttons */

.reset-button {
    top: 65%;
    left: 10%;

    background-color: #58595b;
    height: 50px;
    width: 50px;

    font-family: 'Jost';
    font-weight: 700;
    color: white;


    border: none;
    border-radius: 50%;
    box-shadow: -3px 2px #252121;

    transition: all 0.1s ease;
}

.reset-button:active {
    transform: translate(-3px, 2px);
    box-shadow: 0 0 #252121;
}

.left-button {
    top: 70%;
    right: 35%;

    background-color: #58595b;
    height: 25px;
    width: 50px;

    font-family: 'Jost';
    font-weight: 700;
    color: white;


    border: none;
    border-radius: 1px;
    box-shadow: -1px 2px #252121;

    transition: all 0.1s ease;
}

.left-button:active {
    transform: translate(-1px, 2px);
    box-shadow: 0 0 #252121;
}

.right-button {
    top: 70%;
    right: 20%;

    background-color: #58595b;
    height: 25px;
    width: 50px;

    font-family: 'Jost';
    font-weight: 700;
    color: white;


    border: none;
    border-radius: 1px;
    box-shadow: -1px 2px #252121;

    transition: all 0.1s ease;
}

.right-button:active {
    transform: translate(-1px, 2px);
    box-shadow: 0 0 #252121;
}